<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pencatat pengeluaran</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--Poppins-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!--Raleway-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"><body>
    </head>

    <body>

        <!--Left side-->
        <div class="Leftside">
            <div class="Name-web">
                <P>Spend Finance</P>
                <span>Manage Your Finances</span>
            </div>

            <div class="Total-Spend">
                <p>
                    Total bulan ini:<br>
                    Rp {{ "{:,.0f}".format(total_amount).replace(",", ".") }}
                </p>
            </div>

            <div class="top-left">
                <div class="Dashboard">
                    <span class="material-symbols-light--dashboard-rounded"></span>
                    <p>Dashboard</p>
                </div>

                <div class="database-index">
                    <a href="{{ url_for('table') }}">
                        <span class="material-symbols-light--table"></span>
                        <p>Table Data</p>    
                    </a>
                </div>
            </div>

            <div class="down-left">

            </div>
        </div>

        <div class="Rightside-index">
            <div class="Tittle-section">
                Dashboard
            </div>

            <div class="grafic-finance">
                <div class="grafic-Pendapatan">
                    <canvas id="pendapatanChart">

                    </canvas>
                </div>

                <div class="grafic-pengeluaran">
                    <canvas id="pengeluaranChart">

                    </canvas>
                </div>
            </div>

            <p class="analytic-text">Analytics Chart</p>

            <div class="chart-finance">
                <div class="chart-pie-wrapper">
                    <canvas class="chart-pie" id="chart-pie"></canvas>
                </div>
            </div>
        </div>
    
        

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    
    </body>
</html>